@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.otf') format('truetype');
}

*,
body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  src: url(./fonts/Pretendard-Regular.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
